.box {
  width: 300px;
  height: 200px;
  background-image: url(src/img/images.jpeg);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .box {
    background-image: url(src/img/images2.jpeg);
    background-repeat: no-repeat;
  }
}
